@font-face {
    src: url('Montserrat-SemiBold.ttf');
}
@font-face {
    src: url('Montserrat-Medium.ttf');
}
@font-face {
    src: url('Montserrat-Regular.ttf');
}

.title{
    -fx-text-fill: #2B2E34;
    -fx-font-size: 28px;
    -fx-font-family: "Montserrat SemiBold";
}

.darkGray{
    -fx-background-color: #2B2E34;
}

.white{
    -fx-background-color: white;
}

.lightGray{
    -fx-background-color: #E1E1E1;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.dim{
    -fx-background-color: rgba(0,0,0,0.5);
}

.popUp{
    -fx-background-radius : 35;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 4);
}

.roundedTop{
    -fx-background-radius : 35 35 0 0;
}

.size16{
    -fx-font-size: 16px;
}

.size24{
    -fx-font-size: 24px;
}

.sideButton{
    -fx-background-color: white;
    -fx-border-color: #2B2E34;
    -fx-text-fill: #671B1B;
    -fx-font-size: 20px;
    -fx-font-family: "Montserrat Medium";
}

.normButton{
    -fx-background-color: #671B1B;
    -fx-text-fill: white;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-radius: 35px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 4);
}

.table{
    -fx-background-color: white;
    -fx-text-fill: #0B1126;
    -fx-text-alignment: center;
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 36;
    -fx-background-radius: 35px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 4);
}

.item{
    -fx-text-fill: #2B2E34;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 20px;
}

.status{
    -fx-background-radius: 45px;
}

